.game__table {
  display: flex;
  flex-direction: column;
}

.dealer__side {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.player__side {
  display: flex;
  justify-content: center;
}

.game__points {
  color: white;
  position: fixed;
  top: 0;
  left: 25px;
}

.game__controls {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  display: inline;
  margin: 5px;
}

.result {
  height: auto;
  padding: 5px;
  position: relative;
}

.result__close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
  cursor: pointer;
}

.button__play-again {
  margin-top: 25px;
}

img {
  width: 100px;
}

.backside {
  border-radius: 5px;
  max-height: 138.94px;
}

@media (min-width: 640px) {
  img {
    width: 100px;
  }

  .backside {
    max-height: 173.67px;
  }
}

@media (min-width: 700px) {
  img {
    width: 125px;
  }

  .backside {
    max-height: 173.67px;
  }

  .button__play-again {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}

@media (min-width: 768px) {
  img {
    width: 125px;
  }

  .backside {
    max-height: 173.67px;
  }
}

@media (min-width: 1024px) {
  img {
    width: 150px;
  }

  .backside {
    max-height: 208px;
  }

  .result {
    padding: 25px;
  }
}
