.game-rules {
  position: relative;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  z-index: 1;
  animation: slide-down 300ms ease-out forwards;
}

.game-rules__close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: red;
  cursor: pointer;
}

.game-rules__values ul {
  text-align: left;
}

.game-rules__values li {
  display: block;
}

@media (min-width: 768px) {
  .game-rules {
    padding: 5px 50px;
  }

  .game-rules__close {
    top: 15px;
    right: 20px;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
