.game__intro {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.game__title {
  color: white;
}

.game__rules {
  cursor: pointer;
  color: #1d382a;
}
