.button {
  background-color: #ed1c24;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.button:hover {
  background-color: #bd171d;
}

.button:focus {
  outline: none;
}
